body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold"
}
p{font-weight: bold;}
em{font-weight: bold;}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 7% 15%;
}
/* SECTIONS */
.colored-section{  background-color: #ff4c68;
                   color: #fff;}

.white-section{  background-color: #fff;}

/* Title section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;}

/* Navbar */
.navbar {
  margin: 0 0 4.5rem;
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
  font-weight: bold;
  color: white;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title  */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}

/* Title Image    */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width:850px) {.title-image {
                             position: static;
                             transform: none;}
                            .container-fluid{padding: 1%;}
                          #title .container-fluid{text-align: center;
                                                  padding: 1%;}
                            #features{padding: 2%;}
                            .feature{padding:2%;}
                            .pricing-box {
                              padding: 1% 1%;
                            }

                            #pricing {
                              padding: 1% 2%;
                            }
                            .footer-link{padding: 2%;}
                            .carousel-indicators {
                              padding-top: 3%;
                            }
                            #testimonials {min-height:inherit; } 
                           .colored-section{padding:5px 3px;}    
                           .big-heading{text-align:center;}      
                           .white-section{padding: 5px 3px;}  
                           .press-logo {
                                        width: 20%;
                                        margin:1.5%;}
                                                      
                            .download-button{margin:4%;}
                            .copyright{padding:3%;}                   
                                                         }

/* Features */
.feature-img {
  color: #ef8172;
  padding-bottom: 5%;
}

.feature-img:hover {
  color: #ff4c68;
}

.features-title {
  font-family: 'Montserrat-Bold', sans-serif;
}

.feature-para {
  font-family: "Montserrat-Bold"
  color: #8f8f8f;
  font-weight: bold;
}

#features {

  position: relative;
  z-index: 1;
  padding: 5% 10%;
}

.feature {
  padding: 5%;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
                            }

.testimonial-text {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}

.carousel-indicators {
  padding-top: 5%;
}
/* Pricing */
.pricing-heading {}

.pricing-box {
  padding: 3% 1%;
}

#pricing {
  padding: 5% 10%;
}

.pricing-subheading {
  padding-top: 2%;
}

.card {
  min-height: 400px;
}

.pricing-para {
  min-height: 160px;
  margin: 5px;
  padding-bottom: 0;
}

/* Call To Action */
.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

/* Footer    */
.footer-link {
  padding: 5%;
 color: grey;
}
.footer-link:hover {
  color: #ef8172;
}
.copyright{font-size: 0.75rem;
           padding-bottom: 3%;
           font-weight: bold;}
